<form action='/techroom/login' method="POST">
    <label class="form-label" for="username">Username</label>
    <input type = 'text' name="username" id="username" required>
    <label class="form-label" for="password">Password</label>
    <input type = 'password' name="password" id="password" required>
    <button>Add Product</button>
</form>